body {
  background-color: #e9e9e9; 
}
a:hover { 
  color: red
}
h1,h2,h3 {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
}
h1.title {
  display: table;
  margin: auto;
  background-color: #afc4d6;
  border-width: 4px;
  border-style: outset;
  border-color: #9fd1ff;
  padding: 5px 8px;
  letter-spacing: -.025em;
} 
.formTable {
  display: table;
}
/* If prompt and input are in two cells of one row, the prompt will be R-aligned. */
.formTable td:first-child {
  text-align: right;
}
/* Third table cell shows the error message, so make it bold and red. Used in validation examples that have h:message. */
.formTable td:nth-child(3) {
  color: red;
  font-weight: bold;
}
th { background-color: #afc4d6;
     font-size: 110%;
     font-family: Arial, Helvetica, sans-serif;
}
legend {
  font-weight: bold;
  color: black;
  background-color: #afc4d6;
  border: 1px solid #1a55bf;
  padding: 3px 5px;
  border-radius: 3px;
}
fieldset {
  border-radius: 6px;
  display: block;
}
input, textarea {
  background-color: #ecedf2;
  text-align: left;
}
input[type="checkbox"] {
  background-color: transparent;  /* For IE -- doesn't matter in FF or Chrome */
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  background-color: #9fd1ff;
}
.error {
  color: red;
  font-weight: bold;
}
/* So that in Chrome and IE, the bullets are next to the text in centered lists. Already OK in Firefox. */
[align="center"] li {
  list-style-position: inside;
}
.bg {
	background-image:
		url('https://cdn.pixabay.com/photo/2020/04/10/23/17/waterfall-5028130_960_720.jpg');
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg1 {
	background-image:
		url('https://cdn.pixabay.com/photo/2014/12/04/14/32/winter-barn-556696_960_720.jpg');
height: 1024px;
	width: 1280px;

}
.bg2 {
	background-image:
		url('https://cdn.pixabay.com/photo/2014/06/04/16/41/thank-you-362164_960_720.jpg');
height: 1024px;
	width: 1280px;

}
.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.gambar{
height: 1024px;
	width: 1280px;
	 
}